<div style="padding: 10px 10%; background-color: #7159C1; min-height: 100%">
    <div
        style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color: #463c6b; background-color: white; padding: 15px 10px;">
        {{> header}}
        {{{body}}}
        {{> footer}}
    </div>
</div>
