<strong>Olá, {{deliveryMan}}.</strong>
<p>Um novo produto está disponível, confira os detalhes abaixo: </p>
<p>
    <strong>Cliente: </strong> {{recipient}} <br />
    <strong>Produto: </strong> {{product}} <br />
    <br />
    <small>
        Para mais detalhes, consulte a nossa plataforma.
    </small>
</p>
